#solopic{
    margin: 5%;
    height: 60vh;
    width: 55vh;
}

#artistcard{
    font-family: 'Lato', sans-serif;
}

#listeners {
    height: 65vh;
    width: 28vh;
}

#button{
    background-color: #56676A;
    margin: 2%; 
}

#moreinfo{
    font-family: 'Lato', sans-serif;
}

