#solopic{
    margin: 5%;
    height: 55vh;
    width: 55vh;
    margin-right: 2%;
   
}

#artistcard{
    font-family: 'Lato', sans-serif;
}


#button{
    background-color: #56676A;
    margin: 3%; 
    font-family: 'Lato', sans-serif;
   float: left;

  
}

#moreinfo{
    font-family: 'Lato', sans-serif;
    margin-left: 5%;
}

/* .tweets{
 margin-left: 75%;
} */

.twitter{

margin-bottom: 15%;
margin-left: 20%;

}