#solopic{
    margin: 5%;
    height: 60vh;
    width: 55vh;
    margin-left: -.5%;
}

#artistcard{
    font-family: 'Lato', sans-serif;
}


#button{
    background-color: #56676A;
    margin: 1%; 
    font-family: 'Lato', sans-serif;
    display: inline-flex;
}

#moreinfo{
    font-family: 'Lato', sans-serif;
    margin-left: 5%;
}

/* .tweets{
 margin-left: 75%;
} */

.twitter{

margin-bottom: 15%;

}